
@font-face {
    font-family:  'Oxanium';
    src:          url('/assets/fonts/Oxanium/static/Oxanium-Light.ttf');
    font-weight:  300;
    font-display: swap;
}

@font-face {
    font-family:  'Oxanium';
    src:          url('/assets/fonts/Oxanium/static/Oxanium-Regular.ttf');
    font-weight:  400;
    font-display: swap;
}

@font-face {
    font-family:  'Oxanium';
    src:          url('/assets/fonts/Oxanium/static/Oxanium-Medium.ttf');
    font-weight:  500;
    font-display: swap;
}

@font-face {
    font-family:  'Oxanium';
    src:          url('/assets/fonts/Oxanium/static/Oxanium-SemiBold.ttf');
    font-weight:  600;
    font-display: swap;
}

@font-face {
    font-family:  'Oxanium';
    src:          url('/assets/fonts/Oxanium/static/Oxanium-Bold.ttf');
    font-weight:  700;
    font-display: swap;
}
