@font-face {
    font-family:  'Source Serif Pro';
    src:          url('/assets/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
    font-weight:  400;
    font-display: swap;
}

@font-face {
    font-family:  'Source Serif Pro';
    src:          url('/assets/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf');
    font-weight:  500;
    font-display: swap;
}
