@font-face {
    font-family:  'Merriweather Sans';
    src:          url('/assets/fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf');
    font-weight:  400;
    font-display: swap;
}

@font-face {
    font-family:  'Merriweather Sans';
    src:          url('/assets/fonts/Merriweather_Sans/static/MerriweatherSans-Medium.ttf');
    font-weight:  500;
    font-display: swap;
}


@font-face {
    font-family:  'Merriweather Sans';
    src:          url('/assets/fonts/Merriweather_Sans/static/MerriweatherSans-Bold.ttf');
    font-weight:  700;
    font-display: swap;
}
